body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  /* background-color: #111111; */
  /* border: 1000px;
    border-color: lime; */
  border: 5px solid rgb(255, 7, 7);
}
input {
  border: 5px solid rgb(255, 3, 3);
  transition: transform 0.2s;
}
input:hover {
  transform: scale(1.2);
}
* {
  box-sizing: border-box;
}
h3{
    color:azure;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
