
*.java
*.dex
*.so
*.apk
*.json
Solaris/Saved/Config/CrashReportClient/UE4CC-Windows-0ECB2E3A49A91BABC0ABBBA390B7F83F/CrashReportClient.ini
Solaris/Saved/Config/CrashReportClient/UE4CC-Windows-86854A754684C6187B476BAD6F12A92D/CrashReportClient.ini
Solaris/Saved/Config/CrashReportClient/UE4CC-Windows-B95790394A8A4860A348AF909403C586/CrashReportClient.ini
*.log
Solaris/Saved/Logs/Solaris.log
Solaris/Saved/Config/Windows/Engine.ini
Solaris/Saved/Config/Windows/Engine.ini
Solaris/Saved/Config/CrashReportClient/UE4CC-Windows-B95790394A8A4860A348AF909403C586/CrashReportClient.ini
